body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	/*font-family: "open sans", arial, sans-serif;*/
}

.page-header {
	font-weight: 400;
	margin: 0px;
	margin-top: -40px;
}

.page-header-mini {
	font-weight: 200;
}

.portfolio-item {
	margin-top: 15px;
	margin-bottom: 15px;
}

.conf-item {
	margin-bottom: 0px;
}

.conf-title {
	font-weight: 400;
}

.portfolio-item .conf-desc {
	margin-left: 15px;
}

.img-responsive {
	height: 140px;
	width: 215px;		
}

.project-gist {
	background-color: #DfDfDf;
	opacity: 1;
	position: absolute;
	top: 0px;
	width: 215px;
	height: 140px;
	opacity: 0;
}

.portfolio-item:hover .project-gist{
	opacity: 0.97;
}

.project-gist-title {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 400;
	color: #777;
}

.project-gist-desc {
	margin-left: 10px;
	margin-right: 10px;
	color: #888;
}

.project-title {
	font-weight: 400;
}

.project-gallery-img {
	width: 450px; 
	margin-top: 20px;
	border: 1px solid #DfDfDf; 
}

.project-gallery-carousel {
	margin-top: 20px;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  position: relative;
}

.navbar-toggle {
	background-color: #dfdfdf;
	margin-right: 20px;
}

.navbar-toggle .icon-bar {
	background-color: black;
}

.navbar-nav > li > a {
	color: #999;
	background-color: none;
}

.navbar-nav > li > a:hover {
	color: #666;
	background-color: transparent;
}

.lead {
	font-size: 16px;
	line-height: 30px;
	color: #444;
}

.carousel-inner .gb_item {
	height: 322px;
}

.carousel-inner .cs_item {
	height: 390px;
}

.carousel-inner .br_item {
	height: 500px;
}

.carousel-caption {
	color: white;
	background-color: black;
	width: 100%;
	opacity: 0.8;
	text-align: left;
	position: absolute;
	left: 0px;
	bottom: -20px;
	right: 0px;
}

.carousel-caption h5 {
	position: absolute;
	left: 10px;
	bottom: 15px;
	text-align: center;
}

.carousel-indicators {
	position: absolute;
	right: 10px;
	bottom: -6px;
}

.footer-line {
	width: 960px;
}

footer {
	/*position: absolute;
	bottom: 10px;*/
}
