body {
	/* 50px is the height of the navbar - change this if the navbarn height changes */
	/*font-family: "open sans", arial, sans-serif;*/
	/* font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif; 
	
	/* font-family: "PT Serif"; */

	font-family: "Avenir";
	font-size: 1.6em;
	font-weight: 400;
	letter-spacing: 0.01rem;
	line-height: 1.6;
}

/* Navbar */ 

.navbar {
	margin: 0px;
	margin-top: 20px;
}

.navbar-collapse {
	padding: 0px;
	margin: 0px;
	padding: 10px;
	font-size: 0.8em;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  position: relative;
}

.navbar-toggle {
	background-color: #EC5E3D;
	color: #dfdfdf;
	margin-right: 20px;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-nav > li > a {
	color: #999;
	background-color: none;
}

.navbar-nav > li > a:hover {
	color: #EC5E3D;
	background-color: transparent;
}

/* Site Header */
.site-header {
	font-weight: 400;
    color: #EC5E3D;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.site-header-mini {
	font-weight: 200;
}

.site-header-line {
	height: 0px;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}

/* Home Page Content */ 
.portfolio-picture {
	padding: 0px;
	padding: 10px;
	padding-right: 20px;
}

.personal-bio {
	padding: 0px;
	padding: 10px;
}

/* Links */
a, a:link, a:visited {
	color: #EC5E3D;
	text-decoration: none;
}

a:hover {
	background-color: #FFE5E2;
	color: #EC5E3D;
	text-decoration: none;
}

/* Project Styles */

.projects-container {
	padding-left: 10px;
	padding-right: 10px;
}

.video-row {
    margin-top: 20px;
}

.videowrapper {
  position: relative;
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
}
.videowrapper iframe,
.videowrapper object,
.videowrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.portfolio-item {
	margin-top: 15px;
	margin-bottom: 15px;
}

.conf-item {
	margin-bottom: 0px;
}

.conf-title {
	font-weight: 400;
}

.portfolio-item .conf-desc {
	margin-left: 15px;
}

.img-responsive {	
	border: 1px solid #dfdfdf;
}

.project-gist {
	display: block;
	width: 88%;
	height: 100%;
	background-color: #EC5E3D;
	opacity: 0.9;
	position: absolute;
	top: 0px;
	opacity: 0;
}

@media (max-width: 768px) { 
	.img-responsive {
		width: 100%;
	}

	.project-gist {
		width: 80%;
	}
}

@media (max-width: 992px) { 
	.img-responsive {
		width: 100%;
	}

	.project-gist {
		width: 94.5%;
	}
}

.portfolio-item:hover .project-gist{
	opacity: 0.91;
}

.project-gist-title {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 400;
	color: white;

	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: 0.01rem;
	line-height: 1.2;
}

.project-gist-desc {
	margin-left: 10px;
	margin-right: 10px;
	color: white;

	font-size: 1.0em;
	font-weight: 400;
	letter-spacing: 0.01rem;
	line-height: 1.2;
}

.project-title {
	font-weight: 400;
}

.project-gallery-img {
	width: 450px; 
	margin-top: 20px;
	border: 1px solid #f2f2f2; 
}

.project-gallery-carousel {
	margin-top: 20px;
}

ul.pagination {
	/*margin: 0px;*/
	/*padding-top: 10px;
	padding-bottom: 15px; */
	margin-top: 5px;
	padding-right: 15px;
}

.pagination > .active > a {
	background-color: #EC5E3D;
	border-color: #EC5E3D;
}

.pagination > .active > a:hover {
	background-color: #EC5E3D;
	border-color: #EC5E3D;
}

.pagination > li > a {
	color: #EC5E3D;
}

.pagination > li > a:hover {
	color: #EC5E3D;
}


.lead {
	font-size: 16px;
	line-height: 30px;
	color: #444;
}

.project-gallery-carousel .carousel-inner .item {
	border: 1px solid #f2f2f2;
}

.project-gallery-carousel .carousel-inner .gb_item {
	height: 322px;
}

.project-gallery-carousel .carousel-inner .cs_item {
	height: 390px;
}

.project-gallery-carousel .carousel-inner .br_item {
	height: 500px;
}

.project-gallery-carousel .carousel-caption {
	color: white;
	background-color: black;
	width: 100%;
	opacity: 0.8;
	text-align: left;
	position: absolute;
	left: 0px;
	bottom: -20px;
	right: 0px;
}

.project-gallery-carousel .carousel-caption h5 {
	position: absolute;
	left: 10px;
	bottom: 15px;
	text-align: center;
}

.project-gallery-carousel .carousel-indicators {
	position: absolute;
	right: 10px;
	bottom: -6px;
}

/* contact */

.social-media-links a:hover {
	background-color: transparent;
	color: #EC5E3D;
	text-decoration: none;
}

.no-padding {
	padding: 0px;
}

/* CSS for RSS Feed Articles */

/*.feed_item_title {
	margin-left: 5px;
}

.feed_item_date {
	margin-left: 5px;
}*/

/* Photos carousel */
.photos-carousel {
	margin: 15px;
}

.photos-carousel .carousel-inner > .active {
	display: flex;
    align-items: center;
    justify-content: center;
   	height: 530px;
}

.photos-carousel .carousel-caption {
	color: white;
	background-color: black;
	width: 100%;
	opacity: 0.8;
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 2px;
}

.photos-carousel .carousel-caption span {
	font-size: 10px;
}

.photos-carousel .carousel-caption h5 {
	margin-bottom: 0px;
}

.photos-carousel .carousel-caption a {
	background: transparent;
	color: white;
	text-decoration: underline;
}

.photos-carousel .carousel-control.right,  
.carousel-control.left {
	background: transparent;
	color: white;
}

/* footer */
.copyright-text {
	padding-left: 10px;
}