body {}
    img {border:none;}
    
    #container {text-align:left;overflow:hidden;margin:0;padding:0;width: 800px; font-family:freight-text-pro,Georgia,Cambria,Times New Roman,Times,serif;font-size:1.6empx;border:0px solid #CCCCCC;}
    #header {margin:0px;padding:5px 5px 5px 5px;color:#FFFFFF;background-color:#0066FF;background-image:none;}
    #header .feed_title{margin:0;padding:0;font-weight:normal;word-wrap:break-word;}
    #header .feed_title a:link{color:#FFFFFF;text-decoration:none;}
    #header .feed_title a:visited{color:#FFFFFF;text-decoration:none;}
    #header .feed_title a:hover{color:#FFFFFF;text-decoration:underline;}
    #header .feed_title a:active{color:#FFFFFF;text-decoration:none;}
    #content{overflow:hidden;margin:0px;padding:5px 0px 0px 0px;background-color:#FFFFFF;background-image:none;}
    #content .feed_item{margin:0 0 7px 0;padding:0 0 7px 0;border-bottom:0px dashed #CCCCCC;}
    #content .feed_item_title{margin:1px 0 1px 3px;padding:1px 2px 1px 3px;color:#EC5E3D;font-weight:normal; font-size: 1.1em;}
    #content .feed_item_title a:link{color:#EC5E3D;text-decoration:none;}
    #content .feed_item_title a:visited{color:#EC5E3D;text-decoration:none;}
    #content .feed_item_title a:hover{color:#EC5E3D;text-decoration:none;}
    #content .feed_item_title a:active{color:#EC5E3D;text-decoration:none;}
    #content .feed_item_podcast{margin:0 0 0 3px;padding:0 0 0 3px;}
    #content .feed_item_date{margin:0 0 0 3px;padding:0 2px 0 3px;color:#333;overflow: hidden;text-overflow: ellipsis;}
    #content .feed_item_link{margin:0 0 0 3px;padding:0 2px 0 3px;color:#666666;overflow: hidden;text-overflow: ellipsis;}
    #content a.feed_item_link_anchor{color:#666666; text-decoration:none;}
    #content a:link.feed_item_link_anchor{color:#666666; text-decoration:none;}
    #content a:visited.feed_item_link_anchor{color:#666666; text-decoration:none;}
    #content a:hover.feed_item_link_anchor{color:#666666; text-decoration:none;}
    #content a:active.feed_item_link_anchor{text-decoration:none;}
    #content .feed_item_description{margin:0 0 0 3px;padding:0 2px 0 3px;color:#666666;line-height:135%;word-wrap:break-word;}
    #content .feed_item_thumbnail{width:110px; height:100px; float:left; margin:5px; overflow:hidden;}
    #content .feed_item_clear{width:0: height:0; margin:0; padding:0; clear:both;}
    
